body {
    text-align: center;
}

.line {
    height: 5px;
    width: 55px;
    background-color: cyan;
    margin: 10px auto;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

#games {
    width: 100%;
    height: 800px;
    background-color: lightcoral;
}

img {
    transition: transform .2s;
    height:500px;
    width:500px;
}

img:hover {
    transform: scale(0.9);
}
